In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [3]:
diabetes = pd.read_csv(r'C:\Users\karthikp\Downloads\Inceptors\Preprocessing files\diabetes.csv')
diabetes

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,YES
1,1,85,66,29,0,26.6,0.351,31,NO
2,8,183,64,0,0,23.3,0.672,32,YES
3,1,89,66,23,94,28.1,0.167,21,NO
4,0,137,40,35,168,43.1,2.288,33,YES
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,NO
764,2,122,70,27,0,36.8,0.340,27,NO
765,5,121,72,23,112,26.2,0.245,30,NO
766,1,126,60,0,0,30.1,0.349,47,YES
767,1,93,70,31,0,30.4,0.315,23,NO

In [4]:
diabetes.shape

(768, 9)

In [5]:
diabetes[:9]

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,YES
1,1,85,66,29,0,26.6,0.351,31,NO
2,8,183,64,0,0,23.3,0.672,32,YES
3,1,89,66,23,94,28.1,0.167,21,NO
4,0,137,40,35,168,43.1,2.288,33,YES
5,5,116,74,0,0,25.6,0.201,30,NO
6,3,78,50,32,88,31.0,0.248,26,YES
7,10,115,0,0,0,35.3,0.134,29,NO
8,2,197,70,45,543,30.5,0.158,53,YES

In [6]:
diabetes.columns

Index(['Number of times pregnant', ' Plasma glucose concentration',
       ' Diastolic blood pressure', ' Triceps skin fold thickness',
       ' 2-Hour serum insulin', ' Body mass index',
       ' Diabetes pedigree function', ' Age (years)', ' Class variable'],
      dtype='object')

In [8]:
x = diabetes.drop(' Class variable',1)

C:\Users\karthikp\AppData\Local\Temp/ipykernel_12836/696826134.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x = diabetes.drop(' Class variable',1)

In [9]:
x[:4]

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years)
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21

In [10]:
y = diabetes.iloc[:, -1]
y[:4]

0    YES
1     NO
2    YES
3     NO
Name:  Class variable, dtype: object

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 4)

In [17]:
x_train

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years)
596,0,67,76,0,0,45.3,0.194,46
90,1,80,55,0,0,19.1,0.258,21
734,2,105,75,0,0,23.3,0.560,53
694,2,90,60,0,0,23.5,0.191,25
517,7,125,86,0,0,37.6,0.304,51
...,...,...,...,...,...,...,...,...
360,5,189,64,33,325,31.2,0.583,29
709,2,93,64,32,160,38.0,0.674,23
439,6,107,88,0,0,36.8,0.727,31
174,2,75,64,24,55,29.7,0.370,33
122,2,107,74,30,100,33.6,0.404,23

In [16]:
x_test

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years)
390,1,100,66,29,196,32.0,0.444,42
146,9,57,80,37,0,32.8,0.096,41
136,0,100,70,26,50,30.8,0.597,21
420,1,119,88,41,170,45.3,0.507,26
328,2,102,86,36,120,45.5,0.127,23
...,...,...,...,...,...,...,...,...
374,2,122,52,43,158,36.2,0.816,28
288,4,96,56,17,49,20.8,0.340,26
282,7,133,88,15,155,32.4,0.262,37
754,8,154,78,32,0,32.4,0.443,45
363,4,146,78,0,0,38.5,0.520,67

In [19]:
y_train

596     NO
90      NO
734     NO
694     NO
517     NO
      ...
360    YES
709    YES
439     NO
174     NO
122     NO
Name:  Class variable, Length: 614, dtype: object

In [18]:
y_test

390     NO
146     NO
136     NO
420     NO
328    YES
      ...
374     NO
288     NO
282     NO
754    YES
363    YES
Name:  Class variable, Length: 154, dtype: object

In [ ]:
model = GaussianNB()

In [ ]:
model.fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
acc_score = accuracy_score(y_test, y_pred)

In [ ]:
print(acc_score)

In [ ]:
confusion_matrix (y_test, y_pred)

print(classification_report(y_test,y_pred))

In [7]:
x1 = diabetes.drop(' Class variable',1)

C:\Users\karthikp\AppData\Local\Temp/ipykernel_13212/106208760.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x1 = diabetes.drop(' Class variable',1)

In [8]:
x1[:5]

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years)
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [12]:
y1 = diabetes.iloc[:,-1]
y1

0      YES
1       NO
2      YES
3       NO
4      YES
      ...
763     NO
764     NO
765     NO
766    YES
767     NO
Name:  Class variable, Length: 768, dtype: object

In [15]:
x1_train, x1_test, y1_train, y1_test = train_test_split(x1,y1,test_size=0.2,random_state=5)

In [17]:
model=GaussianNB()

In [18]:
model.fit(x1_train,y1_train)

GaussianNB()

In [19]:
y1_pred = model.predict(x1_test)

In [20]:
acc_score1 = accuracy_score(y1_test,y1_pred)

In [21]:
print(acc_score1)

0.7662337662337663

In [23]:
confusion_matrix(y1_test,y1_pred)

array([[84, 16],
       [20, 34]], dtype=int64)

In [24]:
print(classification_report(y1_test,y1_pred))

              precision    recall  f1-score   support

          NO       0.81      0.84      0.82       100
         YES       0.68      0.63      0.65        54

    accuracy                           0.77       154
   macro avg       0.74      0.73      0.74       154
weighted avg       0.76      0.77      0.76       154